<% title 'Cramlington Register Interest' %>

<div class="row expanded collapse">
  <div class="small-12 columns">
    <div class="bg-image promo-banner">
      <div class="row" id="register-interest">
        <div class="small-12 medium-8 small-centered columns">
          <div class="register-interest-form" id="register-interest-form">
            <div class="small-12 columns cramlington-form-main-text">
            <h2>Register Your Interest</h2>
            <p>
              Be part of the Vision experience! With over £1.5 million invested in our new ultra modern
              20,000 sq/ft training facility, members will benefit from the very latest training
              equipment and multi-site access as standard. With every thing you could need to train at
              an unbeatable price, there has never been a better time to join. Register your 
              interest below to receive amazing early sign-up membership offers.
            </p>
            </div>

            <% if flash[:alert] %>
              <div class="callout alert" data-closable>
                <%= flash[:alert] %>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <%= form_for :lead, url: { controller: 'static_pages', action: 'cramlington_register_lead_interest' } do |f| %>
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <%= f.text_field :first_name, placeholder: 'first name' %>
                </div>

                <div class="small-12 medium-6 columns">
                  <%= f.text_field :last_name, placeholder: 'last name' %>
                </div>

                <div class="small-12 medium-6 columns">
                  <%= f.text_field :email_address, placeholder: 'email' %>
                </div>

                <div class="small-12 medium-6 columns">
                  <%= f.text_field :contact_number, placeholder: 'contact number' %>
                </div>

                <div class="small-12 columns small-centered">
                  <p class="marketing-permissions-title">Marketing Permissions</p>
                  <p class="marketing-permissions-text">From time to time Vision Health and Fitness Club Limited would like to use the information you provide on this form to keep you up to date with our latest information and offers. Please let us know all the ways you would like to hear from us:</p>
                </div>

                <div class="marketing-permissions columns">
                  <div class="small-12 columns">
                    <%= f.check_box :email_consent %>
                    <%= f.label :email_consent, 'Email', class: 'text-left' %>
                  </div>

                  <div class="small-12 columns">
                    <%= f.check_box :text_consent %>
                    <%= f.label :text_consent, 'Text Message', class: 'text-left' %>
                  </div>
                </div>

                <div class="marketing-permissions-text small-12 columns">
                  <p>You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at compliance@visionhealthandfitness.co.uk. We will treat your information with respect. For more information about our privacy practices please read our <%= link_to 'Privacy Policy', privacy_policy_path %>. By clicking below, you agree that we may process your information in accordance with these terms.</p>
                </div>

                <div class="marketing-permissions-text small-12 columns">
                  <p>We use MailChimp as our marketing automation platform. By clicking below to submit, you acknowledge that the information you provide will be transferred to MailChimp for processing in accordance with their Privacy Policy and Terms, <a href="https://mailchimp.com/legal/">found here</a>. We use TextMarketer as our text messaging platform. By clicking below to submit, If you have agreed to receive marketing material from us via text message, you acknowledge that the information you provide will be transferred to textMarketer for processing in accordance with their Privacy Policy and Terms, <a href="https://www.textmarketer.co.uk/pdfebooks/Text_Marketer_Privacy_Policy.pdf">found here</a></p>
                </div>

                <div class="small-12 columns text-center">
                  <%= f.button 'Register Your Interest', class: 'button promo-button register-interest-submit-button' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



