.row
  .small-12.columns.vertical-spacing
    %h1.underline Facilities

.facilities
  .row
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/spin-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Spin Studio
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/huge-weight-section.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Weights Section

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/boxing-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Boxing/MMA Studios

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/aerobic-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Aerobic Studio

  .row.vertical-spacing
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/functional-training.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Functional Training

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/olympic-lifting.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Olympic Lifting

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/protein-shop.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Protein Shop

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/strongman-training.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Strongman / S&amp;C
