.row
  .small-12.columns
    %h1 Facilities

.facilities
  .row
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/spin-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Spin Studio
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/huge-weight-section.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Weights Section
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/boxing-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Boxing/MMA Studios
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/aerobic-studio.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Aerobic Studio
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

  .row.vertical-spacing
    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/functional-training.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Functional Training
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/olympic-lifting.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Olympic Lifting
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/protein-shop.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Protein Shop
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

    .small-12.medium-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('facilities/strongman-training.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Strongman / S&amp;C
              .card__body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero at.

