.home
  .row.expanded
    .main-banner
      = image_tag("vhf-banner.jpg")

  .row.vertical-spacing
    .small-12.columns
      .main-text
        %h1.underline= t('home.h1')
        %p= t('home.intro')

  .row.expanded.home-video-container
    .small-12.medium-8.medium-centered.columns.home-video
      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/ezG-d-yqUVE", :width => "560"}

  .row
    .small-12.large-3.columns
      .card
        = link_to classes_path do
          .card__overlay
          .card__image
            = image_tag('classes.jpg')
            .card__text
              .card__title
                %h3.underline Classes
              .card__body
                %p Enjoy a large range of classes with our great instructors

    .small-12.large-3.columns
      .card
        = link_to facilities_path do
          .card__overlay
          .card__image
            = image_tag('facilities.jpg')
            .card__text
              .card__title
                %h3.underline Facilities
              .card__body
                %p We have a huge range of equipment to suit all your needs

    .small-12.large-3.columns
      .card
        = link_to memberships_path do
          .card__overlay
          .card__image
            = image_tag('memberships.jpg')
            .card__text
              .card__title
                %h3.underline Memberships
              .card__body
                %p With our membership options we’re sure to have something that suits you

    .small-12.large-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('personal-trainer.jpg')
            .card__text
              .card__title
                %h3.underline P.T
              .card__body
                %p Our excellent personal trainers are here to help you get in shape

  = render 'trial_banner'
