.home

  .row.expanded
    .main-banner
      = image_tag("vhf-banner.jpg")

  .row.vertical-spacing
    .small-12.columns
      .main-text
        .underline
          .underline__content
            %h1= t('home.h1')
        %p= t('home.intro')


  .row
    .small-12.medium-8.medium-centered.columns
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400px", :src => "https://www.youtube.com/embed/ezG-d-yqUVE", :width => "100%"}

  .row.vertical-spacing
    .small-12.large-3.columns
      .card
        = link_to classes_path do
          .card__overlay
          .card__image
            = image_tag('classes.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Classes
              .card__body
                %p Enjoy a large range of classes with our great instructors

    .small-12.large-3.columns
      .card
        = link_to facilities_path do
          .card__overlay
          .card__image
            = image_tag('facilities.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Facilities
              .card__body
                %p We have a huge range of equipment to suit all your needs

    .small-12.large-3.columns
      .card
        = link_to memberships_path do
          .card__overlay
          .card__image
            = image_tag('memberships.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 Memberships
              .card__body
                %p With our membership options we’re sure to have something that suits you

    .small-12.large-3.columns
      .card
        = link_to '#' do
          .card__overlay
          .card__image
            = image_tag('personal-trainer.jpg')
            .card__text
              .card__title
                .underline
                  .underline__content
                    %h3 P.T
              .card__body
                %p Our excellent personal trainers are here to help you get in shape

//  .row.expanded.vertical-spacing
//    .trial-banner
//      .row
//        .small-12.columns
//          .underline
//            .underline__content
//              %h2 Claim a free trial with us
//          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius sapien id aliquam mattis. Suspendisse in sapien eu turpis posuere lobortis. Quisque auctor justo ac finibus interdum.
//          %a.button.hollow.large Claim My Trial
