.row
  .small-12.medium-8.small-centered.columns.vertical-spacing
    %h1.underline Contact Us
    %p.text-center If you have any queries feel free to send us a message.
.row.collapse
  .small-12.medium-8.small-centered.columns
    = form_for @message, url: create_message_url do |f|
      = notice
      = @message.errors.full_messages.join(', ')
      .small-12.medium-6.columns= f.text_field :name, placeholder: 'name'
      .small-12.medium-6.columns= f.email_field :email, placeholder: 'email'
      .small-12.columns= f.text_area :body, placeholder: 'body'
      = f.hidden_field :nickname
      .small-12.columns.button= f.button 'Send'
