<div class="row">
  <div class="small-12 columns">
    <h1 class="underline">Memberships</h1>
  </div>
</div>

<div class="row vertical-spacing">
  <div class="small-12 columns">
    <div class="memberships">
      <div class="row vertical-spacing">
        <div class="small-12 columns monthly-memberships">
          <h3 class="underline">Monthly Memberships</h3>
          <div class="small-12 medium-4 columns">
            <div class="membership-option">
              <div class="membership-title">
                <h3>peak</h3>
              </div>
              <div class="membership-price">
                <span>£14.99</span>
              </div>
              <div class="membership-details">
                <ul>
                  <li>12 months contract</li>
                  <li>Use of all facilities at all times</li>
                  <li>Includes 200 classes per month</li>
                </ul>
              </div>
              <div class="membership-link">
                <button class="button join-button" id="peak_membership" data-open="privacy_statement_peak">Join Now</button>
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="membership-option">
              <div class="membership-title">
                <h3>platinum</h3>
              </div>
              <div class="membership-price">
                <span>£35</span>
              </div>
              <div class="membership-details">
                <ul>
                  <li>12 months contract</li>
                  <li>Use of all facilities at all times</li>
                  <li>Over 200 classes per month including Boxing, MMA, Strength and Conditioning</li>
                </ul>
              </div>
              <div class="membership-link">
                <button class="button join-button" id="platinum_membership" data-open="privacy_statement_platinum">Join Now</button>
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="membership-option">
              <div class="membership-title">
                <h3>flexi</h3>
              </div>
              <div class="membership-price">
                <span>£29.99</span>
              </div>
              <div class="membership-details">
                <ul>
                  <li>12 months contract</li>
                  <li>Rolling 30 day contract</li>
                  <li>Use of all facilities at all times</li>
                  <li>Includes 200 classes per month</li>
                </ul>
              </div>
              <div class="membership-link">
                <button class="button join-button" id="flexi_membership" data-open="privacy_statement_flexi">Join Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal small" id="privacy_statement_peak" data-reveal>
  <%= render partial: '/gdpr_compliance/sign_up_privacy_statement' %>

  <div class="row">
    <div class="small-6 small-centered text-center columns">
      <div class="membership-link">
        <%= link_to 'join now', 'https://visionhealthandfitness.membr.com/register/gym/vision-health-and-fitness/package/peak-membership1', class: 'button' %>
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal small" id="privacy_statement_platinum" data-reveal>
  <%= render partial: '/gdpr_compliance/sign_up_privacy_statement' %>

  <div class="row">
    <div class="small-6 small-centered text-center columns">
      <div class="membership-link">
        <%= link_to 'join now', 'https://visionhealthandfitness.membr.com/register/gym/vision-health-and-fitness/package/platinum-membership1', class: 'button' %>
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal small" id="privacy_statement_flexi" data-reveal>
  <%= render partial: '/gdpr_compliance/sign_up_privacy_statement' %>

  <div class="row">
    <div class="small-6 small-centered text-center columns">
      <div class="membership-link">
        <%= link_to 'join now', 'https://visionhealthandfitness.membr.com/register/gym/vision-health-and-fitness/package/flexi-membership', class: 'button' %>
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
