.row
  .small-12.columns
    %h1.underline Memberships


.row.vertical-spacing
  .small-12.columns
    .memberships
      .row.vertical-spacing
        .small-12.columns.monthly-memberships
          %h3.underline Monthly Memberships
          .small-12.medium-4.columns
            .membership-option
              .membership-title
                %h3 peak
              .membership-price
                %span £14.99
              .membership-details
                %ul
                  %li 12 months contract
                  %li Use of all facilities at all times
                  %li Includes 200 classes per month
              .membership-link
                %a.button{href: 'https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X'} join now

          .small-12.medium-4.columns
            .membership-option
              .membership-title
                %h3 platinum
              .membership-price
                %span £35
              .membership-details
                %ul
                  %li 12 months contract
                  %li Use of all facilities at all times
                  %li Over 200 classes per month including Boxing, MMA, Strength and Conditioning
              .membership-link
                %a.button{href: 'https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X'} join now


          .small-12.medium-4.columns
            .membership-option
              .membership-title
                %h3 flexi
              .membership-price
                %span £29.99
              .membership-details
                %ul
                  %li 12 months contract
                  %li Rolling 30 day contract
                  %li Use of all facilities at all times
                  %li Includes 200 classes per month
              .membership-link
                %a.button{href: 'https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X'} join now

      .row
        - @annual_peak = @membership_options.find_by(name: 'annual peak')
        - @platinum = @membership_options.find_by(name: 'platinum')
        .small-12.columns.yearly-memberships
          %h3.underline Annual Memberships
          .small-12.medium-6.columns
            .membership-option
              .membership-title
                %h3= "#{@annual_peak.name} (May promo only)"
              .membership-price
                %span= "£#{@annual_peak.price}"
              .membership-details
                %ul
                  %li Use of all facilities at all times
                  %li Includes 200 classes per month (excludes Boxing, MMA, Strengh and Conditioning)
              .membership-link
                = link_to 'Join Now', new_membership_path(membership_option: @annual_peak.id), class: 'button'
          .small-12.medium-6.columns
            .membership-option
              .membership-title
                %h3= @platinum.name
              .membership-price
                %span= "£#{@platinum.price}"
              .membership-details
                %ul
                  %li Use of all facilities at all times
                  %li Over 200 classes per month including Boxing, MMA, Strength and Conditioning
              .membership-link
                = link_to 'Join Now', new_membership_path(membership_option: @platinum.id), class: 'button'

