.row.vertical-spacing
  .small-12.medium-6.medium-centered.columns
    #flash-messages
    = form_for @membership, html: { class: "basic-grey" } do |f|
      - if @membership.errors.any?
        #error_explanation
          %h2
            = pluralize(@membership.errors.count, "error")
            prohibited this membership from being saved:
          %ul
            - @membership.errors.full_messages.each do |message|
              %li= message
      .hide
        = select_tag "membership_prices", options_from_collection_for_select(@membership_options, "id", "price"), { id: 'membership_prices' }
      .small-12.columns
        = f.label :membership_option_id
        = f.collection_select :membership_option_id, @membership_options, :id, :name, {:selected => @membership_options.find(params[:membership_option]).id}
      .small-12.columns
        = f.label :first_name
        = f.text_field :first_name
      .small-12.columns
        = f.label :last_name
        = f.text_field :last_name
      .small-12.columns
        = f.label :email
        = f.text_field :email
      .small-12.columns
        = f.label :phone_number
        = f.text_field :phone_number
      :javascript
        Stripe.setPublishableKey('#{Rails.application.secrets.stripe_publishable_key}');
      .small-12.columns
        = label_tag "Card Number", nil, required: true
        = text_field_tag :card_number, nil, class: "input-block-level", data: {stripe: "number"}
      .small-12.columns
        = label_tag "Verification Number", nil, required: true
        = text_field_tag :card_verification, nil, class: "input-block-level", data: {stripe: "cvc"}
      .small-6.columns
        = label_tag "Expiry Month", nil, required: true
        = select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, data: {stripe: "exp-month"}, class: "span2"
      .small-6.columns
        = label_tag "Expiry Year", nil, required: true
        = select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, data: {stripe: "exp-year"}, class: "span1"
      .small-12.columns
        #membership_price
          %h3
      .small-12.columns
        = f.submit "Pay Now", class: "button small-12"
