.footer.container
  .row
    .footer
      .small-12.medium-4.columns
        .contact-info
          %h5 Contact Information
          %span= "#{t('contact_info.business_name')},"
          %span= "#{t('contact_info.address.line_1')},"
          %span= "#{t('contact_info.address.line_2')},"
          %span= "#{t('contact_info.address.city')},"
          %span= t('contact_info.address.post_code')
          %span= t('contact_info.phone_number')
          %span= t('contact_info.email')
        .facilities
          %h5 Facilities

      .small-12.medium-4.columns
        .classes
          %h5 Classes

      .small-12.medium-4.columns
        .opening-hours
          %h5 Opening Hours
        .connect-with-us
          %h5 Connect with us
