.footer.container
  .row
    .footer
      .small-12.medium-3.columns
        .contact-info
          %h5 Contact Us
          %span= "#{t('contact_info.business_name')},"
          %span Unit 13,
          %span Crowhall Road,
          %span Nelson Industrial Estate,
          %span Cramlington,
          %span NE23 1WH
          %span= "01670432232"
          %span= t('contact_info.email.memberships')

      .small-12.medium-3.columns
        .site-links
          %h5 Site Links
          %ul
            %li= link_to 'Home', root_path
            %li= link_to 'Classes', classes_path
            %li= link_to 'Contact', new_message_path

      .small-12.medium-3.columns
        .legal-links
          %h5 Legal
          %ul
            %li= link_to 'VHF Terms & Conditions', asset_path('pdfs/vhf-terms-and-conditions.pdf')
            %li= link_to 'VHF Code of Conduct', vhf_code_of_conduct_path
            %li= link_to 'Health Commitment Statement', asset_path('/pdfs/VHF_HCF.pdf')
            %li= link_to 'Privacy Policy', privacy_policy_path
            %li= link_to 'Cookie Policy', cookie_policy_path

        .social-links
          %h5 Social Links
          %ul
            %li= link_to 'Facebook', 'https://www.facebook.com/VisionHealthFitnessClub'
            %li= link_to 'Twitter', 'https://twitter.com/vision_gym'
            %li= link_to 'Google+', '#'

      .small-12.medium-3.columns
        .opening-hours
          %h5 Opening Hours
          %ul
            %li= t('opening_hours.monday')
            %li= t('opening_hours.tuesday')
            %li= t('opening_hours.wednesday')
            %li= t('opening_hours.thursday')
            %li= t('opening_hours.friday')
            %li= t('opening_hours.saturday')
            %li= t('opening_hours.sunday')
