.footer.container
  .row
    .footer
      .small-12.medium-3.columns
        .contact-info
          %h5 Contact Us
          %span= "#{t('contact_info.business_name')},"
          %span= "#{t('contact_info.address.line_1')},"
          %span= "#{t('contact_info.address.line_2')},"
          %span= "#{t('contact_info.address.city')},"
          %span= t('contact_info.address.post_code')
          %span= t('contact_info.phone_number')
          %span= t('contact_info.email')

      .small-12.medium-3.columns
        .site-links
          %h5 Site Links
          %ul
            %li= link_to 'Home', root_path
            %li= link_to 'Classes', classes_path
            %li= link_to 'Facilities', facilities_path
            %li= link_to 'Memberships', memberships_path
            %li= link_to 'Contact', new_message_path

      .small-12.medium-3.columns
        .legal-links
          %h5 Legal
          %ul
            %li= link_to 'VHF Code of Conduct', vhf_code_of_conduct_path

        .social-links
          %h5 Social Links
          %ul
            %li= link_to 'Facebook', 'https://www.facebook.com/VisionHealthFitnessClub'
            %li= link_to 'Twitter', 'https://twitter.com/vision_gym'
            %li= link_to 'Google+', '#'

      .small-12.medium-3.columns
        .opening-hours
          %h5 Opening Hours
          %ul
            %li= t('opening_hours.monday')
            %li= t('opening_hours.tuesday')
            %li= t('opening_hours.wednesday')
            %li= t('opening_hours.thursday')
            %li= t('opening_hours.friday')
            %li= t('opening_hours.saturday')
            %li= t('opening_hours.sunday')
