<div class="footer container">
  <div class="row">
    <div class="footer">
      <div class="small-12 medium-3 columns">
        <div class="contact-info">
          <h5>Contact Us</h5>
          <span>
            <%= "#{t('contact_info.business_name')}," %>
          </span>
          <span>Unit 13,</span>
          <span>Crowhall Road,</span>
          <span>Nelson Industrial Estate,</span>
          <span>Cramlington,</span>
          <span>NE23 1WH</span>
          <span>
            <%= "01670432232" %>
          </span>
          <span>
            <%= t('contact_info.email.memberships') %>
          </span>
        </div>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="site-links">
          <h5>Site Links</h5>
          <ul>
            <li>
              <%= link_to 'Home', root_path %>
            </li>
            <li>
              <%= link_to 'Classes', classes_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="legal-links">
          <h5>Legal</h5>
          <ul>
            <li>
              <%= link_to 'VHF Terms & Conditions', asset_path('pdfs/vhf-terms-and-conditions.pdf') %>
            </li>
            <li>
              <%= link_to 'VHF Code of Conduct', vhf_code_of_conduct_path %>
            </li>
            <li>
              <%= link_to 'Health Commitment Statement', asset_path('/pdfs/VHF_HCF.pdf') %>
            </li>
            <li>
              <%= link_to 'Privacy Policy', privacy_policy_path %>
            </li>
            <li>
              <%= link_to 'Cookie Policy', cookie_policy_path %>
            </li>
          </ul>
        </div>
        <div class="social-links">
          <h5>Social Links</h5>
          <ul>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/VisionHealthFitnessClub' %>
            </li>
            <li>
              <%= link_to 'Twitter', 'https://twitter.com/vision_gym' %>
            </li>
            <li>
              <%= link_to 'Google+', '#' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="small-12 medium-3 columns">
        <div class="opening-hours">
          <h5>Opening Hours</h5>
          <ul>
            <li>
              <%= t('opening_hours.monday') %>
            </li>
            <li>
              <%= t('opening_hours.tuesday') %>
            </li>
            <li>
              <%= t('opening_hours.wednesday') %>
            </li>
            <li>
              <%= t('opening_hours.thursday') %>
            </li>
            <li>
              <%= t('opening_hours.friday') %>
            </li>
            <li>
              <%= t('opening_hours.saturday') %>
            </li>
            <li>
              <%= t('opening_hours.sunday') %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

