.row.expanded
  %ul#mega-menu-container.menu{"data-click-open" => "true", "data-disable-hover" => "true", "data-dropdown-menu" => ""}
    %li.menu-logo
      = image_tag('logo-small.png')
    %li
      = link_to 'Home', root_path
    %li.mega-menu
      %a{:href => "#" } Classes
      %ul.menu
        %li
          .medium-3.column
            %h3 Strength
            %ul
              %li
                = link_to 'Ab-Solution', classes_ab_solution_path
              %li
                = link_to 'Kettle-x-Fit', classes_kettle_x_fit_path
              %li
                = link_to 'Pilates', classes_pilates_path
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
          .medium-3.column
            %h3 Cardio
            %ul
              %li
                = link_to 'Cycle Fit', classes_cycle_fit_path
              %li
                = link_to 'HIIT', classes_hiit_path
          .medium-3.column
            %h3 Strength &amp; Cardio
            %ul
              %li
                = link_to 'Bootcamp', classes_bootcamp_path
              %li
                = link_to 'Circuit Training', classes_circuit_training_path
              %li
                = link_to 'Cycle Pump', classes_cycle_pump_path
              %li
                = link_to 'Pilates HIIT', classes_pilates_hiit_path
          .medium-3.column
            %h3 Sports
            %ul
              %li
                = link_to 'Boxing', classes_boxing_path
              %li
                = link_to 'MMA', classes_mma_path
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
    %li
      = link_to 'Facilities', facilities_path
    %li
      = link_to 'Memberships', memberships_path
    %li
      %a{:href => "#"} Contact


