.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav"}
  .menu-logo
    = link_to root_path do
      = image_tag('logo-small.png')
  .float-right
    %button.menu-icon{"data-toggle" => "", :type => "button"}
    .title-bar-title Menu
#nav.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-logo
        = link_to root_path do
          = image_tag('logo-small.png')
  .top-bar-right
    %ul.medium-horizontal.vertical.dropdown.menu{"data-responsive-menu" => "accordion medium-dropdown"}
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Classes', classes_path
      %li
        = link_to 'Facilities', facilities_path
      %li
        = link_to 'Memberships', memberships_path
      %li
        = link_to 'Timetables', timetables_path
      %li
        = link_to 'Contact', new_message_path
      - if logged_in?
        %li
          %a{:href => "#"}= current_user.name.capitalize
          %ul.menu
            %li
              = link_to 'Users', users_path
            %li
              = link_to 'Trials', trials_path
            %li
              = link_to 'Log out', logout_path, method: :delete
