<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vision Health &amp; Fitness <%= "- #{yield(:title)}" if content_for?(:title) %></title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render 'shared/tracking/tracking' %>

    <%= yield :facebook_tracking_event %>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a5a25a9cb09ddd014067f5905/467a66368a6b0c74759985eab.js");</script>


		<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
	</head>

  <body>
    <div class="<%= "#{controller_name}_#{action_name}"%>"> 
      <%= render 'layouts/nav' %>

      <%= render 'gdpr_compliance/gdpr_compliance_banner' %>
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
